/*paleta de colores*/
/* 0D0A0B night, 454955 charcoal, F3EFF5 magnolia, A5CC6D pistachio, 3F7D20 office green*/
/*font: Poppins regular 400*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/*font-family: 'Poppins', sans-serif;*/
/*------------------------------------------------------------------------*/
/*Selector universal reset*/
*{
    margin: 0;
    padding: 0;
}
/*html universal*/
html{
    font-size: 100%;
    background-color:white;
}
/*Fonts color*/
body{
    font-family: 'Poppins', sans-serif;
}
/*------------------------------------------------------------------------*/
/*Header*/

.un_poco_p{
    text-align: center;
    background-color: bisque;
    height: 7rem;
}
header{
    background-color: #A5CC6D ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0%;
}
ul{
    margin: 0%;
}
li{
    list-style: none;
    display: inline;
    margin-right: 0.9rem;
}
header>img{
    width: 80px;
}
header a{
    color: black;
    text-decoration: none; 
}
.tituloindex{
    text-align: center;
    background-image: url(../medios/backgroun1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 220px 0px;
    text-shadow: 1px -1px 25px rgb(0, 0, 0);
    color: #FFFFFF;
}
/*--------------------------------------------------------------------------*/
/*Main*/
.un_poco_p{
    display: flex;
    align-items: center;
}
h1{
    text-align:center;
    font-size: 3rem;
}
h2{
    text-align:center;
}
.codigoimg{
    width: 80%;
}
.contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*sobremi*/
.grid1{
    display: flex;
}
.gridtxt{
    text-align:justify ;
    padding: 2%;
}
.gridimg{
    width: 20%;
}
.uamflex{
    display: flex;
}
.uamtxt{
    padding: 3%;
}
.uamimg{
    width: 20%;
}
/*Contacto*/
.button{
    width: 70px;
    margin-top: 10px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 7px;
    color:#000000;
    font-weight: 600;
    text-transform: uppercase;
}
/*--------------------------------------------------------------------------*/
/*Footer*/
footer{
    background-color:dodgerblue;
}